@charset "utf-8";
html {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	margin: 0;
}
body {
	color: rgba(68, 67, 67, 1.00);
	font-family: 'Libre Franklin', sans-serif;
	height: 100%;
	margin: 0;
}
p {
	font-family: 'Open Sans', sans-serif;
}
.wrapper {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
.header {
	border-bottom-style: solid;
	background: #dddddd;
	width: 110%;
	margin: -15px 0px 0px -10px;
	padding-top: 1px;
}
.header a {
	text-decoration: none;
	color: rgba(68, 67, 67, 1.00);
}
.footer {
	border-top-style: solid;
	background: #dddddd;
	width: 100%;
	height: 50px;
}
.head {
	padding-left: 40px;
	font-size: 25px;
}
.logo {
	padding: 10px 10px 10px 130px;
}

form {
	display: table;
}

form p {
	display: table-row;
}

form label {
	padding: 12px 12px 12px 0;
	text-align: right;
	white-space: nowrap;
	
}

form label, input {
	display: table-cell;
	
}

input[type=text] {
	width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
	
}

input[type=submit] {
  background: #ffc000;
  color: rgb(80, 79, 79);
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 1px gray;
  cursor: pointer;
  margin-bottom: 20px; 
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	border: solid rgba(68, 67, 67, 1.00);
	border-radius: 20px;
	width: 100%;
	text-indent: 2px;
	margin-bottom: 20px;
}
td, th {
	border-bottom: 1px solid #B9B9B9;
	text-align: left;
	padding: 8px;
}
tr:nth-child(even) {
	background-color: #dddddd;
}
td img {
	width: 20px;
	height: auto;
}
.container {
	max-width: 1100px;
	min-width: 600px;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background: white;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 1px 1px 2px #888888;
	border: 1px solid #eeeff0;
}
.content {
	min-width: 600px;
	margin: 0 10%;
}
#view1-container, #view2-container, #view3-container, #view4-container, #view5-container, #view6-container, #view7-container {
	margin: 0 auto;
	text-align: center;
	padding-top: 25px;
	min-height: 300px;
}
.canvas {
	min-width: 300px;
	max-width: 500px;
	height: 100%;
	max-height: 300px;
	margin: 0 auto;
	border: thin solid black;
}
.info {
	margin: 0 auto;
	min-width: 300px;
	padding-left: 20px;
}
.info h2 {
	text-align: center;
}
.main {
	display: flex;
	margin-bottom: 30px;
}
.main div {
	flex: 1;
}
.centered {
	margin: 0 auto;
	width: 800px;
}
